<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css" />
        <link href="{{ asset('assets/css/bootswatch.min.css') }}" type="text/css" />
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
        <script src="{{ asset('assets/js/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
{{ include('includes/menu.html.twig') }}
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>eQuest Admin</h1>
                <p class="lead">raise awarness with new employes</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor">
                    Code Whisperers
                </div>
            </div>
        </div>
    </div>
</div>
<!-- body block -->
{% block body %}
{% endblock %}
<!-- end of block -->
{% include(':includes/footer.html.twig') %}
</div>
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootswatch.js') }}"></script>
{% endblock %}
</body>
</html>
