{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Quest list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Ts</th>
                <th>T_xp</th>
                <th>Targets_to_achive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_quest__show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.ts }}</td>
                <td>{{ entity.txp }}</td>
                <td>{{ entity.targetstoachive }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_quest__show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_quest__edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_quest__new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
