{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Quest</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Ts</th>
                <td>{{ entity.ts }}</td>
            </tr>
            <tr>
                <th>T_xp</th>
                <td>{{ entity.txp }}</td>
            </tr>
            <tr>
                <th>Targets_to_achive</th>
                <td>{{ entity.targetstoachive }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_quest_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_quest__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
